Riferimeto :  https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [1]:
import pandas as pd
import numpy as np

In [3]:
dict = {'data': ['2019/01/29','2019/01/30','2019/01/31','2019/02/01']}

In [4]:
df=pd.DataFrame(dict)

In [5]:
df

         data
0  2019/01/29
1  2019/01/30
2  2019/01/31
3  2019/02/01

In [7]:
df['data']=pd.to_datetime(df['data'],format='%Y/%m/%d')
#strdata=pd.to_datetime(df[data]).dt.strftime('%d/%m/%Y')

In [9]:
df['data'] = pd.to_datetime(df['data']).dt.strftime('%d/%m/%Y')

In [10]:
df

         data
0  29/01/2019
1  30/01/2019
2  31/01/2019
3  01/02/2019

In [14]:
df3=pd.DataFrame(dict)
display(df3)

         data
0  2019/01/29
1  2019/01/30
2  2019/01/31
3  2019/02/01

In [15]:
df3=pd.DataFrame(dict)
df3['data']=pd.to_datetime(df3['data'],format='%Y/%m/%d')
x= pd.to_datetime(df3['data']).dt.strftime('%d/%m/%Y',)
df3.loc[:,'data'] =x
display(df3)

         data
0  29/01/2019
1  30/01/2019
2  31/01/2019
3  01/02/2019

In [16]:
df2=df
df2['data'] = pd.to_datetime(df2['data']).dt.strftime('%d/%m/%Y')

In [18]:
def testdf(df):
    df['data'] = pd.to_datetime(df['data']).dt.strftime('%d/%m/%Y')
    return

In [19]:
testdf(df2)