In [37]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:800px !important; }</style>"))

# Creazione di DataFrame 
In questo notebook presentiamo una raccolta di modi per creare DataFrame al volo, senza file, da usare per esercizi o come  esempi.
Molto spesso per proivare delle funzionalit√† abbiamo bisogno di creare dataframe di esempio, anche di notevoli dimensioni. Qui mettiamo il codice per crerare velocemente alcune tabelle.

## Empty DataFrame

In [30]:
import pandas as pd
df=pd.DataFrame()
display(df)

Empty DataFrame
Columns: []
Index: []

## Creazione DataFrame da array a dictionary
Creiamo un dataframe  partendo da un dictionary, a sua volta creato tramite array.
Il dataframe rappresenta delle misure ottenute da a dei sensori (pressione e temperatura) in diversi periodi, per diverse citta'.

In [31]:
import pandas as pd
dati={'A':['a1','a2','a3','a4'],'B':[1,2,3,4]}
df=pd.DataFrame(dati)
display(df)

    A  B
0  a1  1
1  a2  2
2  a3  3
3  a4  4

## Creazine DataFrame da numpy array
( Esempio tratto dalla guida ufficiale)

In [32]:
import pandas as pd
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),columns=['a', 'b', 'c'])
display(df)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# Creazione di un data frame con valori casuali
## Esempio 1

Per aumentare il numero di righe 'e sufficiente aumentare il numero di date e/o il numero di val_col1

In [6]:
import pandas as pd
import numpy as np

dates    =   ['10/01/2019',  '11/01/2019','12/01/2019' ]
val_col1=['A','B']
data=[]
col1=[]
col2=[]

for d in dates:
    for v in val_col1:
        data.append(d)
        col1.append(v)
        col2.append(np.random.randint(10,20))

tab={'data':data,'col1':col1,'col2':col2}
df=pd.DataFrame(tab)
df['data']=pd.to_datetime(df['data'],format='%d/%m/%Y')
df['data']=df['data'].dt.strftime('%d/%m/%Y')
display(df)

         data col1  col2
0  10/01/2019    A    16
1  10/01/2019    B    16
2  11/01/2019    A    11
3  11/01/2019    B    12
4  12/01/2019    A    18
5  12/01/2019    B    11

## Esempio 2
Per aumentare il numero di righe 'e sufficiente aumentare il numero di date e/o il numero di titoli.

Per aumentare il numero di colonne bisogna creare  un nuovo array e usre il metodo append nel ciclo for piu' interno.

In [40]:
import pandas as pd
import numpy as np

dates    =   ['10/01/2019',  '11/01/2019','12/01/2019' ]
titoli=['DownJones','Nasdaq']
data=[]
titolo=[]
val_min=[]
val_max=[]

min_val=lambda k : np.random.randint(15000,15500)   if k=='DownJones' else np.random.randint(8400,8500)
max_val =lambda k : np.random.randint(15500,16000) if  k=='DownJones' else np.random.randint(8500,8600)


for d in dates:
    for t in titoli:
        data.append(d)
        titolo.append(t)
        val_min.append(min_val(t))
        val_max.append(max_val(t))

tab={'data':data,'Titolo':titolo,'Min':val_min,'Max':val_max}
df=pd.DataFrame(tab)
df['data']=pd.to_datetime(df['data'],format='%d/%m/%Y')
df['data']=df['data'].dt.strftime('%d/%m/%Y')
display(df)

         data     Titolo    Min    Max
0  10/01/2019  DownJones  15136  15531
1  10/01/2019     Nasdaq   8458   8533
2  11/01/2019  DownJones  15036  15730
3  11/01/2019     Nasdaq   8495   8540
4  12/01/2019  DownJones  15036  15636
5  12/01/2019     Nasdaq   8439   8581

## Esempio 3
Per aumentare il numero di righe 'e sufficiente aumentare il numero di date e/o il numero di citta' , e/o il numero di sesorsi. 

Per aumentare il numero di colonne bisogna creare  un nuovo array e usre il metodo append nel ciclo for piu' interno.

In questo esempio si utilizzano delle lambda functions per creare dei valori casuali per le colonne valore minimo e valore massimo in base al tipo di sensore.

In [33]:
import pandas as pd
import numpy as np

dates  = ['10/01/2019',  '11/01/2019']
cities=['NewYork','Boston']
sensors=['Pressure','Temperature']

Data=[]
City=[]
Sensor=[]
val_min=[]
val_max=[]

min_val=lambda k : np.random.randint(-5,2) if k=='Temperature' else np.random.randint(950,980)
max_val =lambda k : np.random.randint(5,10) if  k=='Temperature' else np.random.randint(981,990)

for d in dates:
    for c in cities:
        for s in sensors:
            Data.append(d)
            City.append(c)
            Sensor.append(s)
            val_min.append(min_val(s))
            val_max.append(max_val(s))
            

tab={'data':Data,'city':City,'Sensor':Sensor,'Min':val_min,'Max':val_max}
df=pd.DataFrame(tab)
df['data']=pd.to_datetime(df['data'],format='%d/%m/%Y')
df['data']=df['data'].dt.strftime('%d/%m/%Y')
display(df)

         data     city       Sensor  Min  Max
0  10/01/2019  NewYork     Pressure  962  988
1  10/01/2019  NewYork  Temperature   -2    7
2  10/01/2019   Boston     Pressure  976  982
3  10/01/2019   Boston  Temperature   -3    9
4  11/01/2019  NewYork     Pressure  965  987
5  11/01/2019  NewYork  Temperature   -1    9
6  11/01/2019   Boston     Pressure  972  989
7  11/01/2019   Boston  Temperature    1    8