In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:800px !important; }</style>"))

# Creazione di DataFrame 
In questo blog vogliamo mostrare la struttura di un DataFrameGroupBy, ovvero la struttura che si ottiene da un dataframe con operazioni di aggregazione di dati.

In [3]:
# importa le librerie
%matplotlib inline
import pandas as pd
import numpy as np

## Creazione DataFrame da array a dictionary
Creiamo un dataframe  partendo da un dictionary, a sua volta creato tramite array.
Il dataframe rappresenta delle misure ottenute da a dei sensori (pressione e temperatura) in diversi periodi, per diverse citta'.

In [118]:
localita =         ['Milano',     'Torino',     'Milano',     'Milano'     ,'Milano'     ,'Milano'     ]     
sensore=           ['Temperatura','Temperatura','Temperatura','Pressione'  ,'Pressione'  ,'Pressione'  ]
valore=            [10          ,12          ,  14          ,  998         ,997          ,999          ]
localita=localita+ ['Torino',     'Torino',     'Milano',     'Milano'     ,'Torino'     ,'Torino'  ]     
sensore=sensore+   ['Temperatura','Temperatura','Temperatura','Pressione'  ,'Pressione'  ,'Pressione'  ]
valore=valore+     [10          ,12          ,  14          ,  998         ,997         ,999          ]

tabella={'localita':localita,'sensore':sensore,'valore':valore}
df=pd.DataFrame(tabella)

# Dataframe tramite dictionary : creazione di elementi tramite iterazione

In [5]:
giorni    =   ['10/01/2019',  '11/01/2019','12/01/2019' ]
citta=['Milano','Torino']
data=[]
localita=[]
sensore=[]
valmin=[]
valmax=[]
for g in giorni:
    for c in citta:
        data.append(g)
        localita.append(c)
        sensore.append('Pressione')
        valmin.append(np.random.randint(980,990))
        valmax.append(np.random.randint(990,1000))
        data.append(g)
        localita.append(c)
        sensore.append('Temperatura')
        valmin.append(np.random.randint(0,5))
        valmax.append(np.random.randint(6,15))

tabella={'data':data,'localita':localita,'sensore':sensore,'valmin':valmin,'valmax':valmax}
df=pd.DataFrame(tabella)
df['data']=pd.to_datetime(df['data'],format='%d/%m/%Y')
df['data']=df['data'].dt.strftime('%d/%m/%Y')
display(df)

          data localita      sensore  valmin  valmax
0   10/01/2019   Milano    Pressione     984     997
1   10/01/2019   Milano  Temperatura       2      13
2   10/01/2019   Torino    Pressione     984     999
3   10/01/2019   Torino  Temperatura       3       7
4   11/01/2019   Milano    Pressione     986     991
5   11/01/2019   Milano  Temperatura       3      13
6   11/01/2019   Torino    Pressione     982     994
7   11/01/2019   Torino  Temperatura       2       8
8   12/01/2019   Milano    Pressione     988     993
9   12/01/2019   Milano  Temperatura       4       7
10  12/01/2019   Torino    Pressione     989     996
11  12/01/2019   Torino  Temperatura       2       9