In [6]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:800px !important; }</style>"))

# DataFrame

Creaiamo un dataframe multilivello.
L'esempio 'e stato tratto dalla guida ufficiale :

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [2]:
import pandas as pd
import numpy as np
dfmi = pd.DataFrame([list('abcd'),
                     list('efgh'),
                     list('ijkl'),
                     list('mnop')],
                     columns=pd.MultiIndex.from_product([['one', 'two'],
                    ['first', 'second']]))

In [2]:
display(dfmi)

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

Analizziamo l'indice e le colonne

In [3]:
print(dfmi.index)
print(dfmi.columns)

RangeIndex(start=0, stop=4, step=1)
MultiIndex(levels=[['one', 'two'], ['first', 'second']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

# Iterare gli indici multilevel 

level[0] --> | one          || two          |

level[1] --> |first |second ||first |second |

In [15]:
'''
level=df.columns.levels

level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |

(len(levels))=2
'''
display(dfmi)
cols=dfmi.columns
levels=cols.levels
print("Numero di livelli levels {}".format(len(levels)))
for i in range(len(levels)):
    print("level[{}] --> {}".format(i,levels[i]))

for i in range (len(dfmi.columns.levels[0])):
    print(dfmi.columns.levels[0][i])
for i in range (len(dfmi.columns.levels[1])):
    print(dfmi.columns.levels[1][i])

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

Numero di livelli levels 2
level[0] --> Index(['one', 'two'], dtype='object')
level[1] --> Index(['first', 'second'], dtype='object')
one
two
first
second

## Accesso ai dati
### Modo 1

In [13]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |

levels[0][k] k-esimo valore del livello zero
levels[1][i] i-esimo valore del livello uno 

dfmi['x']      ---> Restituisce un dataframe  con indice singolo
dfmi['x']['y'] ---> Restituisce una serie 

'''
cols=dfmi.columns
levels=cols.levels
#dfmi[ 'one' ]   ---> DataFrame
print("Dataframe > one <")
dfone=dfmi[ levels[0][0]]
display(dfone)
#dfmi[ 'one' ]      ['second'    ] ---> Serie
seriesecond=dfmi[ levels[0][0]] [ levels[1][1] ]
print("Serie >second<")
display(seriesecond)

Dataframe > one <

  first second
0     a      b
1     e      f
2     i      j
3     m      n

Serie >second<

0    b
1    f
2    j
3    n
Name: second, dtype: object

In [14]:
cols=dfmi.columns
levels=cols.levels
#dfmi[ 'one' ]   ---> DataFrame
dfone=dfmi['one']
print("Dataframe > one <")
display(dfone)
#dfmi[ 'one' ]      ['second'    ] ---> Serie
seriesecond=dfmi['one']['second']
print("Serie >second<")
display(seriesecond)

Dataframe > one <

  first second
0     a      b
1     e      f
2     i      j
3     m      n

Serie >second<

0    b
1    f
2    j
3    n
Name: second, dtype: object

## Modo 2

In [15]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |
            ( 'one'       , 'second'     )    '''
dfmi.loc[:, (levels[0][0] , levels[1][1] )]

0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

Conversione della colonna (Serie) in lista

In [50]:
# Convertiamo i dati in lista
myserie=dfmi.loc[:, (levels[0][0] , levels[1][1] )]
l=myserie.tolist()
print(l)

['b', 'f', 'j', 'n']

Iterazione sulla lista

In [49]:
# Facciamo una iterazione
myserie=dfmi.loc[:, (levels[0][0] , levels[1][1] )]
lst=myserie.tolist()
for i in range(len(lst)):
    print(lst[i])

b
f
j
n

Accesso ad una porzione di dati :

In [51]:
# Elementi da 2 a 3
dfmi.loc[2:3, (levels[0][0] , levels[1][1] )]

2    j
3    n
Name: (one, second), dtype: object

### Stesse operazioni di accesso ai dati, ma inserndo direttamente i nomi degli indici

In [16]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |
            ( 'one'       , 'second'     )    '''
dfmi.loc[:, ('one', 'second')]

0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

Accesso a porzioni di dati

In [4]:
print(dfmi.loc[0:1, ('one', 'second')])
print(dfmi.loc[1:3, ('one', 'second')])

0    b
1    f
Name: (one, second), dtype: object
1    f
2    j
3    n
Name: (one, second), dtype: object

### Ripasso su come estrarre i dati da una serie

In [33]:
# Serie
s=dfmi.loc[1:3, ('one', 'second')]
ind=s.index
print(ind)
for key,value in s.iteritems():
    print (key,value)

RangeIndex(start=1, stop=4, step=1)
1 f
2 j
3 n

## Estrazione nome degli indici 
Viene presentato un modo per estrarre i nomi degli indici come array di stringhe:

In [23]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |
            ( 'one'       , 'second'     )    '''
levels=dfmi.columns.levels
indici=[]
for i in range (len(levels)):
    indici.append(list(levels[i]))
    
print(indici[0])
print(indici[1])

['one', 'two']
['first', 'second']

## Descrizone del modo 1 di accesso ai dati
###  dfmi['X'] selzione del primo livello

Seleziona il primo livello e restituisce un DataFrame con indice singolo.

In [36]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |
            ( 'one'       , 'second'     )    '''

print("DATAFRAME :")
display(dfmi)
print("LIVELLO 0 : one ---> Nuovo Dataframe")
dfmi['one']

DATAFRAME :

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

LIVELLO 0 : one ---> Nuovo Dataframe

  first second
0     a      b
1     e      f
2     i      j
3     m      n

In [37]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |
            ( 'one'       , 'second'     )    '''

print("DATAFRAME :")
display(dfmi)
print("LIVELLO 1 : two ---> Nuovo Dataframe")
dfmi['two']

DATAFRAME :

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

LIVELLO 1 : two ---> Nuovo Dataframe

  first second
0     c      d
1     g      h
2     k      l
3     o      p

## dfmi['X']['Y'] selezione del secondo livello

Accedendo al secondo livello si accede alla Series

In [39]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |
            ( 'one'       , 'second'     )    '''
print("DATAFRAME :")
display(dfmi)
print("LIVELLO ['one']['first'] : ---> colonna ( Serie)")
dfmi['one']['first']

DATAFRAME :

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

LIVELLO ['one']['first'] : ---> colonna ( Serie)

0    a
1    e
2    i
3    m
Name: first, dtype: object

In [40]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |
            ( 'one'       , 'second'     )    '''
print("DATAFRAME :")
display(dfmi)
print("LIVELLO ['one']['second'] : ---> colonna ( Serie)")
dfmi['one']['second']

DATAFRAME :

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

LIVELLO ['one']['second'] : ---> colonna ( Serie)

0    b
1    f
2    j
3    n
Name: second, dtype: object

## Descrizione del secondo metodo di accesso ai dati
#### dfmi.loc[:, ('one', 'second')]

In questo metodo viene passata una TUPLA, ad ogni singola chiamata per ottenere un valore. 
Questo permette a pandas di trattare singole entità. 
Questo tipo di operazione può risultare significatvamente più veloce , e permette di indicizzare entrambi gli assi.

In [45]:
display(dfmi)

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

In [20]:
dfmi.columns

MultiIndex(levels=[['one', 'two'], ['first', 'second']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [23]:
dfmi.loc[:,('one','second')]

0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

## Accesso ai singoli valori ( Senza indici : normale tabella righe e colonne)

In [43]:
display(dfmi)
RIGA=3
for COLONNA in range(4):
    valore=dfmi.loc[RIGA][COLONNA]
    print("Estarzione Riga :{} Colonna :{}  Valore : {}".format(RIGA,COLONNA,valore))

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

Estarzione Riga :3 Colonna :0  Valore : m
Estarzione Riga :3 Colonna :1  Valore : n
Estarzione Riga :3 Colonna :2  Valore : o
Estarzione Riga :3 Colonna :3  Valore : p