<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#DataFrame-MultiIndex-Columns" data-toc-modified-id="DataFrame-MultiIndex-Columns-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>DataFrame MultiIndex Columns</a></span><ul class="toc-item"><li><span><a href="#Access-to-columns" data-toc-modified-id="Access-to-columns-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Access to columns</a></span><ul class="toc-item"><li><span><a href="#Method-1" data-toc-modified-id="Method-1-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Method 1</a></span></li><li><span><a href="#Method-2" data-toc-modified-id="Method-2-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Method 2</a></span></li></ul></li><li><span><a href="#Access-single-value" data-toc-modified-id="Access-single-value-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Access single value</a></span></li><li><span><a href="#Acces-single-row" data-toc-modified-id="Acces-single-row-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Acces single row</a></span></li></ul></li><li><span><a href="#DataFrame-MultiIndex-Index" data-toc-modified-id="DataFrame-MultiIndex-Index-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>DataFrame MultiIndex Index</a></span></li></ul></div>

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:800px !important; }</style>"))

# DataFrame MultiIndex Columns

Creaiamo un dataframe multilivello (MultiIndex) . 
L'esempio 'e stato tratto dalla guida ufficiale :

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
import pandas as pd
import numpy as np
dfmi = pd.DataFrame([list('abcd'),
                     list('efgh'),
                     list('ijkl'),
                     list('mnop')],
                     columns=pd.MultiIndex.from_product([['one', 'two'],
                    ['first', 'second']]))

In [2]:
display(dfmi)

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

Analizziamo l'indice e le colonne

In [61]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |
'''
print("Columns :\n",dfmi.columns)
print("Levels  : ",dfmi.columns.levels)
print("Number of levels : ",len(dfmi.columns.levels))

Columns :
 MultiIndex([('one',  'first'),
            ('one', 'second'),
            ('two',  'first'),
            ('two', 'second')],
           )
Levels  :  [['one', 'two'], ['first', 'second']]
Number of levels :  2

## Access to columns
### Method 1
``` python
dfmi['level1name']               #--> Returns a DataFrame
dfmi['level1name']['level2name'] #--> Return a Series (if level2 is the last level)
```

In [63]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |
'''
cols=dfmi.columns
levels=cols.levels

print("Dataframe > one <")
print("dfmi['{}']".format(levels[0][0])) 
dfone=dfmi[ levels[0][0]] # Same as dfmi['one']   ; Returns a DataFrame
display(dfone)

print("Serie >second<")
print("dfmi['{}'']['{}']".format(levels[0][0],levels[1][1]))
print(dfmi[ levels[0][0]] [ levels[1][1] ])# Same as dfmi['one']['second'] ; Returns a Serie

Dataframe > one <
dfmi['one']

  first second
0     a      b
1     e      f
2     i      j
3     m      n

Serie >second<
dfmi['one'']['second']
0    b
1    f
2    j
3    n
Name: second, dtype: object

### Method 2
Acces only to one column (last level as Serie)
```python
    dfmi.loc[:,( 'lavel1name' ,'level2name' ) ] # We pass a tuple with the names of levels
```

In [8]:
'''
level[0] --> | one          || two          |
level[1] --> |first |second ||first |second |
              '''
cols=dfmi.columns
levels=cols.levels
dfmi.loc[:, (levels[0][0] , levels[1][0] )]
# Is the same then :
print("dfmi.loc[:, ('{}', '{}')]".format(levels[0][0],levels[1][1]))
dfmi.loc[:, ('one', 'second')]

dfmi.loc[:, ('one', 'second')]

0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

## Access single value 
```python
    dfmi.loc[ROW][COL]
```

In [69]:
display(dfmi)
ROW=3
COL=1
print("dfmi.loc[{}][{}]".format(ROW,COL))
print("Row :{} Colonna :{}  Valore : {}".format(ROW,COL,dfmi.loc[ROW][COL]))

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

dfmi.loc[3][1]
Row :3 Colonna :1  Valore : n

## Acces single row
We get a single row as a MultiIndex Serie
```python
dfmi.loc[row] 
```

In [17]:
ROW=0
print("dfmi.loc[ROW] :\n",dfmi.loc[ROW])# Returns a MultiIndex Serie 
s=(dfmi.loc[ROW])
print("\ns[('one',  'first')] :",s[('one',  'first')])

dfmi.loc[ROW] :
 one  first     a
     second    b
two  first     c
     second    d
Name: 0, dtype: object

s[('one',  'first')] : a

# DataFrame MultiIndex Index

In [21]:
import pandas as pd
import numpy as np
dfm = pd.DataFrame([list('abcd'),
                     list('efgh'),
                     list('ijkl'),
                     list('mnop')],
                     index=pd.MultiIndex.from_product([['one', 'two'],
                    ['first', 'second']]),
                    columns=['A','B','C','D']
                  )

In [24]:
display(dfm)

            A  B  C  D
one first   a  b  c  d
    second  e  f  g  h
two first   i  j  k  l
    second  m  n  o  p