In [6]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:800px !important; }</style>"))

# DataFrame

Creaiamo un dataframe multilivello.
L'esempio 'e stato tratto dalla guida ufficiale :

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [1]:
import pandas as pd
import numpy as np
dfmi = pd.DataFrame([list('abcd'),
                     list('efgh'),
                     list('ijkl'),
                     list('mnop')],
                     columns=pd.MultiIndex.from_product([['one', 'two'],
                    ['first', 'second']]))

In [3]:
display(dfmi)

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

Analizziamo l'indice e le colonne

In [2]:
print(dfmi.index)
print(dfmi.columns)

RangeIndex(start=0, stop=4, step=1)
MultiIndex(levels=[['one', 'two'], ['first', 'second']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

# Iterare gli indici multilevel

In [16]:
display(dfmi)
cols=dfmi.columns
levels=cols.levels
for i in range(len(levels)):
    print("level[{}] --> {}".format(i,levels[i]))
    for j in range(len(levels[i])):
        print("level[{}][{}] --> {}".format(i,j,levels[i][j]))

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

level[0] --> Index(['one', 'two'], dtype='object')
level[0][0] --> one
level[0][1] --> two
level[1] --> Index(['first', 'second'], dtype='object')
level[1][0] --> first
level[1][1] --> second

## Accesso ai dati
### Modo 1

In [7]:
dfmi['one']['second']

0    b
1    f
2    j
3    n
Name: second, dtype: object

### Modo 2

In [8]:
dfmi.loc[:, ('one', 'second')]

0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

dfmi['one'] selects the first level of the columns and returns a DataFrame that is singly-indexed. Then another Python operation dfmi_with_one['second'] selects the series indexed by 'second'. This is indicated by the variable dfmi_with_one because pandas sees these operations as separate events. e.g. separate calls to __getitem__, so it has to treat them as linear operations, they happen one after another.

Contrast this to df.loc[:,('one','second')] which passes a nested tuple of (slice(None),('one','second')) to a single call to __getitem__. This allows pandas to deal with this as a single entity. Furthermore this order of operations can be significantly faster, and allows one to index both axes if so desired.

## Descrizone del modo 1 di accesso ai dati
###  dfmi['X'] selzione del primo livello

Seleziona il primo livello e restituisce un DataFrame

In [9]:
dfmi['one']

  first second
0     a      b
1     e      f
2     i      j
3     m      n

In [11]:
dfmi['two']

  first second
0     c      d
1     g      h
2     k      l
3     o      p

## dfmi['X']['Y'] selezione del secondo livello

Accedendo al secondo livello si accede alla Series

In [12]:
dfmi['one']['first']

0    a
1    e
2    i
3    m
Name: first, dtype: object

In [13]:
dfmi['one']['second']

0    b
1    f
2    j
3    n
Name: second, dtype: object

## Descrizione del secondo metodo di accesso ai dati
#### dfmi.loc[:, ('one', 'second')]
Contrast this to df.loc[:,('one','second')] which passes a nested tuple of (slice(None),('one','second')) to a single call to getitem. This allows pandas to deal with this as a single entity. Furthermore this order of operations can be significantly faster, and allows one to index both axes if so desired.

Utilizziamo DataFrame.loc[] che ha come parametri una tupla

In [20]:
dfmi.columns

MultiIndex(levels=[['one', 'two'], ['first', 'second']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [23]:
dfmi.loc[:,('one','second')]

0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

## Accesso ai singoli valori

In [40]:
RIGA=3
for COLONNA in range(4):
    print(dfmi.loc[RIGA][COLONNA])

m
n
o
p

In [41]:
dfmi

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p